body {
    font-family: Arial, sans-serif;
    margin: 5;
    padding: 5;
    background-color: #f0f6ac;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#yaInscripto {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
}

#cursos {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
}

#idAlumno {
    font-weight: bold;
    color: #4CAF50;
}
