<h2>Heroes Page</h2>
<hr>
<h3>Listado de heroes:</h3>
<ul>
    {{#each heroes}}
        <li>{{name}} - Alias: <i>{{alias}}</i></li>
    {{/each}}
</ul>

<a href="/">Home Page</a>

<script src="js/heroes.js"></script>