<h2>Heroes:</h2>
<hr>
<p>{{heroes.[3].name}}</p>

<p>Heroe del día: <strong>{{heroe.name}}</strong></p>
<p>Alias: <strong>{{heroe.alias}}</strong></p>
<p>Alguno de sus poderes: <strong>{{heroe.powers.[0]}}</strong></p>


<br><br>
<a href="/">Home Page</a>